@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dancing+Script:wght@400..700&family=Doto:wght@100..900&family=Fleur+De+Leah&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Press+Start+2P&display=swap');

body {
    margin: 0;
    text-align: center;
    font-family: 'Press Start 2P',
        cursive;
    user-select: none;
}


header {
    margin: 0 auto;
    width: 431px;
}


h1 {
    background: url(./media/flappy-bird-set.png) 0% 340px;
    padding: 1.2em 0;
    margin: 0;
}


.score-container {
    display: flex;
    justify-content: space-between;
    padding: 8px 6px;
    background: #5EE270;
}